<mat-dialog-content>
  <h2>Alterar senha</h2>
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label for="currentPassword">Senha Atual</mat-label>
      <input matInput type="password" name="currentPassword" formControlName="currentPassword" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label for="newPassword">Nova Senha</mat-label>
      <input matInput type="password" name="newPassword" formControlName="newPassword" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label for="confirmNewPassword">Confirmar Nova Senha</mat-label>
      <input matInput type="password"  formControlName="confirmNewPassword" required>
    </mat-form-field>

    <mat-dialog-actions>
      <button mat-button mat-dialog-close color="warn">Cancelar</button>
      <button mat-raised-button type="submit" color="primary">Salvar</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>

