:host {
  display: block;
  background-color: var(--bg-primary);
  padding-bottom: 800px;
}

.dashboard {
  width: 90%;
  height: 100%;
  padding: 20px 0;
  margin: 0 auto;
  background-color: var(--bg-primary);
}

.date-time {
  text-align: center;
  width: 270px;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--bg-primary);
  border: 1px solid var(--secondary-color);
  margin-bottom: 20px;
}

.date-time span {
  color: var(--text-primary);
}

.card-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.switch-theme {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.switch-theme span {
  color: var(--text-primary);
  font-weight: 400;
}

.switch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

::ng-deep .light-theme .switch {
  background-color: var(--text-primary) !important;
}

.switch mat-icon {
  font-size: 1.5rem;
}

.switch mat-icon[fontIcon="dark_mode"] {
  color: var(--secondary-color);
}

.switch mat-icon[fontIcon="light_mode"] {
  color: var(--primary-color);
}

.card-welcome {
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(135deg, #11131380 10%, #98e5dd84 50%, #eeb58f77 90%);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

mat-card-title {
  font-family: "Mona Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--text-primary);
}

mat-card-title span {
  font-weight: 300;
}

button.button-release {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--secondary-color);
}

.card-content ul {
  list-style: none;
  padding: 0 20px;
  margin-top: 25px;
}

.card-content ul li {
  color: var(--text-primary);
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 0;
}

.card-content ul li mat-icon {
  color: var(--primary-color);
}

div.container-table-project {
  margin: 4rem 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
}

h1 {
  color: #FFF;
  font-weight: 500;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 20px;
}

mat-expansion-panel {
  background-color: var(--bg-secondary);
  margin-bottom: 8px;
}

::ng-deep .mat-expansion-indicator::after {
  color: var(--text-primary) !important;
}

mat-panel-title,
mat-panel-description,
h3 {
  color: var(--text-primary);
}

.tbl-container {
  border-collapse: collapse; /* Garante que as bordas não se fundam */
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--bg-tertiary);
}

th {
  color: var(--primary-color);
}

td {
  color: var(--text-primary);
}

.work-time {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 20px;
  font-size: 1.2rem;
  font-weight: 500;
  background: linear-gradient(135deg, #11131380 70%, #98e5dd84 50%, #eeb58f77 90%);
  color: #FFF;
}

.work-time mat-icon {
  color: var(--primary-color);
}
