:host {
  width: 100%;
  height: 100%;
  display: block;
  background-color: var(--bg-primary);
  overflow: hidden;
}

.dashboard {
  width: 90%;
  height: 100%;
  padding: 20px 0;
  margin: 0 auto;
  background-color: var(--bg-primary);
}

.date-time {
  text-align: center;
  width: 300px;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--bg-primary);
  border: 1px solid var(--primary-color);
  margin-bottom: 20px;
}

.date-time span {
  color: var(--text-primary);
}

.card-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.switch-theme {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.switch-theme span {
  color: var(--text-primary);
  font-weight: 400;
}

.switch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

::ng-deep .light-theme .switch {
  background-color: var(--text-primary) !important;
}

.switch mat-icon {
  font-size: 1.5rem;
}

.switch mat-icon[fontIcon="dark_mode"] {
  color: var(--secondary-color);
}

.switch mat-icon[fontIcon="light_mode"] {
  color: var(--primary-color);
}

.card-welcome {
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(135deg, #11131380 10%, #98e5dd84 50%, #eeb58f77 90%);
}

::ng-deep .light-theme .card-welcome {
  background: linear-gradient(135deg,#eeb58f77 10%, #98e5dd84 50%, #f7f7f7 90%);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

mat-card-title {
  font-family: "Mona Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--text-primary);
}

mat-card-title span {
  font-weight: 300;
}

button.button-release {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 20px;
  background-color: var(--secondary-color);
}

::ng-deep.light-theme .button-release {
  background-color: #111313 !important;
  color: var(--secondary-color) !important;
}

.card-content ul {
  list-style: none;
  padding: 0 20px;
  margin-top: 25px;
}

.card-content ul li {
  color: var(--text-primary);
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 0;
}

.card-content ul li mat-icon {
  color: var(--text-secondary);
}

div.container-table-project {
  margin: 4rem 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
}

h1 {
  color: var(--text-primary);
  font-weight: 500;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 20px;
}

#not-tasks {
  color: var(--text-secondary);
  font-size: 1.2rem;
  font-weight: 500;
}

mat-expansion-panel {
  background-color: var(--bg-secondary);
  margin-bottom: 8px;
}

::ng-deep .light-theme mat-expansion-panel {
  background-color: var(--bg-tertiary) !important;
}

::ng-deep .mat-expansion-indicator::after {
  color: var(--text-primary) !important;
}

mat-panel-title,
mat-panel-description,
h3 {
  color: var(--text-primary);
}

mat-panel-title {
  font-size: 1rem;
  font-weight: 600;
}

mat-panel-description {
  font-size: 0.8rem;
  font-weight: 500;
}

h3 {
  margin: 20px 10px;
}

.tbl-container {
  border-collapse: collapse; /* Garante que as bordas não se fundam */
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--bg-primary);
}

::ng-deep .light-theme .tbl-container {
  background-color: var(--text-primary) !important;
}

th {
  color: var(--secondary-color);
}

td {
  color: var(--text-primary);
}

::ng-deep .light-theme td {
  color: var(--bg-secondary) !important;
}

.work-time,
.late-tasks {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 18px;
  font-size: 1.2rem;
  font-weight: 500;
  background: linear-gradient(135deg, #111313 70%, #98e5dd84 50%, #eeb58f77 90%);
  color: #FFF;
}

.work-time {
  margin-bottom: 24px;
}

.late-tasks mat-icon {
  color: var(--primary-color);
}

.late-tasks a {
  margin-left: auto;
  color: var(--text-primary);
  font-size: .875rem;
  font-weight: 500;
  cursor: pointer;
  text-decoration: underline;
}

.late-task {
  background-color: #e4bca8;
  font-weight: 700;
  color: var(--bg-primary);
}

::ng-deep .light-theme .work-time span {
  color: var(--bg-primary) !important;
}

.work-time mat-icon {
  color: var(--primary-color);
}

::ng-deep .light-theme .work-time mat-icon {
  color: var(--bg-tertiary) !important;
}

.table-releases mat-card {
  background-color: var(--bg-tertiary);
  border-radius: 10px;
}

.table-releases .actions-user {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px 10px 0 0;
  background-color: var(--bg-secondary);
}

.table-releases .actions-user button {
  background-color: var(--secondary-color);
}

.table-releases .tbl-container {
  background-color: var(--bg-tertiary);
  border-radius: 0px;
}

.table-releases .tbl-container .button-edit {
  background-color: var(--bg-tertiary);
  color: var(--primary-color);
  border: none;
  cursor: pointer;
  margin-right: 20px;
}

.table-releases .tbl-container .button-delete {
  background-color: var(--bg-tertiary);
  color: rgb(236, 109, 109);
  border: none;
  cursor: pointer;
  border-radius: 50%;
  padding: 2px;
}

::ng-deep .light-theme .table-release-container table {
  background-color: var(--bg-primary) !important;
}

.table-releases .tbl-container .button-delete:hover {
  color: rgb(238, 134, 134);
}

.table-releases .tbl-container .button-edit:hover {
  color: #eeb58f77;
}

.table-releases mat-paginator {
  border-radius: 0 0 10px 10px;
  background-color: var(--bg-tertiary);
  color: var(--text-primary);
}

::ng-deep .light-theme .table-releases mat-paginator  {
  background-color: var(--bg-tertiary) !important;
}

@media (max-width: 1250px) {
  div.container-table-project {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
}

@media (max-width: 750px) {
  .card-header .button-release {
    font-size: .875rem;
    padding: 10px;
  }

  .card-content ul,
  .card-header {
    padding: 0 10px;
  }

  .card-content ul li {
    font-size: 1rem;
  }

  .hide-on-mobile {
    display: none;
  }

  h1 {
    font-size: 1.6rem;
    margin-bottom: 10px;
  }

  .tbl-container {
    width: 100%;
  }

  th, td {
    padding: 8px 16px;
    text-align: left;
    white-space: nowrap;
  }

  .container-limit-width .tbl-responsive {
    overflow-x: auto;
    width: 100%; /* Define a largura do container */
  }

  .table-releases .tbl-release-container {
    overflow-x: auto;
  }
}

@media (max-width: 600px) {
  .card-content ul li {
    font-size: .875rem;
  }

  .card-content ul li mat-icon {
    font-size: 1rem;
  }

  #btn-span-text-rg {
    display: none;
  }
}

@media (max-width: 550px) {
  div.card-infos {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .card-header mat-card-title {
    font-size: 2rem;
  }

  .card-header .button-release {
    padding: 5px;
  }

  .card-header .button-release span {
    display: none;
  }

  .card-header .button-release mat-icon {
    margin-right: 0;
  }

  h1 {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }

  div.container-table-project {
    gap: 25px;
    margin: 2rem 0;
  }

  .work-time {
    margin-bottom: 40px;
  }

  .work-time span {
    font-size: 1.2rem;
  }

  .work-time mat-icon {
    font-size: 1.5rem;
  }

  .late-tasks {
    margin-bottom: 40px;
  }

  .late-tasks span {
    font-size: 1rem;
  }

}
