<app-toolbar></app-toolbar>
<div class="dashboard">
  <div class="container-infos">
    <div class="card-infos">
      <div class="date-time">
        <span *ngIf="currentDate"> {{ currentDate }}</span>
      </div>

      <div class="switch-theme">
        <span>Mude seu tema:</span>
        <button class="switch" (click)="toggleTheme()">
          <mat-icon *ngIf="!isLightTheme" fontIcon="light_mode"></mat-icon>
          <mat-icon *ngIf="isLightTheme" fontIcon="dark_mode"></mat-icon>
        </button>
      </div>
    </div>

    <mat-card class="card-welcome">
      <div class="card-header">
        <mat-card-title><span>Olá</span>, {{ user.name }}</mat-card-title>
        <button mat-raised-button class="button-release" (click)="registerRelease('200ms', '200ms')">
          Registrar lançamento
          <mat-icon fontIcon="add"></mat-icon>
        </button>
      </div>

      <div class="card-content">
        <ul class="list">
          <li><mat-icon fontIcon="info"></mat-icon>Informações de projetos, atividades e carga horária em tempo real</li>
          <li><mat-icon fontIcon="add_task"></mat-icon>Registro de atividades no dia a dia</li>
        </ul>
      </div>
    </mat-card>
  </div>

  <div class="container-table-project">
    <div>
      <h1>Em andamento</h1>
      <div *ngIf="projects.length === 0;">
        <p id="not-tasks">Você não possui tarefas no momento.</p>
      </div>
      <mat-expansion-panel *ngFor="let project of projects; let i = index" #expansionPanel>
        <mat-expansion-panel-header>
          <mat-panel-title>{{ project.name }}</mat-panel-title>
          <mat-panel-description>
            Contém {{ project.tasks?.length || 0 }} atividades
          </mat-panel-description>
        </mat-expansion-panel-header>

        <!-- Tabela com informações do Projeto -->
        <table class="tbl-container" mat-table [dataSource]="[project]">
          <!-- Nome do Projeto -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nome </th>
            <td mat-cell *matCellDef="let p"> {{ p.name }} </td>
          </ng-container>

          <!-- Data de Início -->
          <ng-container matColumnDef="startDate">
            <th mat-header-cell *matHeaderCellDef> Início </th>
            <td mat-cell *matCellDef="let p"> {{ p.startDate | date: "dd/MM/yyyy"}} </td>
          </ng-container>

          <!-- Data de Término -->
          <ng-container matColumnDef="endDate">
            <th mat-header-cell *matHeaderCellDef> Término </th>
            <td mat-cell *matCellDef="let p"> {{ p.endDate | date: "dd/MM/yyyy"}} </td>
          </ng-container>

          <!-- Status -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let p">
              @if (p.status === 'PLANNED') {
                <span> Em planejamento </span>
              } @else if (p.status === 'PROGRESS') {
                <span> Em andamento </span>
              } @else if (p.status === 'DONE') {
                <span> Concluído </span>
              } @else if (p.status === 'PAUSED') {
                <span> Pausado </span>
              } @else if (p.status === 'CANCELED') {
                <span> Cancelado </span>
              }
            </td>
          </ng-container>

          <!-- Prioridade -->
          <ng-container matColumnDef="priority">
            <th mat-header-cell *matHeaderCellDef> Prioridade </th>
            <td mat-cell *matCellDef="let p">
              @if (p.priority === 'HIGH') {
                <span> Alta </span>
              } @else if (p.priority === 'MEDIUM') {
                <span> Média </span>
              } @else {
                <span> Baixa </span>
              }
            </td>
          </ng-container>

          <!-- Usuário Responsável -->
          <ng-container matColumnDef="userResponsible">
            <th mat-header-cell *matHeaderCellDef> Responsável </th>
            <td mat-cell *matCellDef="let p"> {{ p.responsibleUser.name }} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="projectColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: projectColumns;"></tr>
        </table>

        <!-- Tabela de Tasks -->
        <h3>Atividades</h3>
        <table class="tbl-container" mat-table [dataSource]="project.tasks">
          <!-- Nome da Task -->
          <ng-container matColumnDef="taskName">
            <th mat-header-cell *matHeaderCellDef> Nome </th>
            <td mat-cell *matCellDef="let task; let j = index" #taskRow [attr.data-task-id]="task.id" [class.late-task]="isTaskLate(task)"> {{ task.name }} </td>
          </ng-container>

          <!-- Data de Início da Task -->
          <ng-container matColumnDef="taskStartDate">
            <th mat-header-cell *matHeaderCellDef> Início </th>
            <td mat-cell *matCellDef="let task; let j = index" #taskRow [attr.data-task-id]="task.id" [class.late-task]="isTaskLate(task)"> {{ task.startDate | date: "dd/MM/yyyy" }} </td>
          </ng-container>

          <!-- Data de Término da Task -->
          <ng-container matColumnDef="taskEndDate">
            <th mat-header-cell *matHeaderCellDef> Término </th>
            <td mat-cell *matCellDef="let task; let j = index" #taskRow [attr.data-task-id]="task.id" [class.late-task]="isTaskLate(task)"> {{ task.endDate | date: "dd/MM/yyyy" }} </td>
          </ng-container>

          <!-- Status da Task -->
          <ng-container matColumnDef="taskStatus">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let task; let j = index" #taskRow [attr.data-task-id]="task.id" [class.late-task]="isTaskLate(task)">
              @if(task.status === 'OPEN') {
                <span>Aberta</span>
              } @else if(task.status === 'PROGRESS') {
                <span>Em andamento</span>
              } @else if(task.status === 'DONE') {
                <span>Concluída</span>
              } @else if(task.status === 'PAUSED') {
                <span>Pausada</span>
              }
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="taskColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: taskColumns;"></tr>
        </table>
      </mat-expansion-panel>
    </div>

    <div class="container-infos">
      <h1>Horas trabalhadas</h1>
      <mat-card class="work-time">
        <mat-icon fontIcon="more_time"></mat-icon>
        <span>Total de horas: + {{ hoursWorked }} h</span>
      </mat-card>

      <div class="card-late-tasks">
        <h1>Atividades atrasadas</h1>
        <mat-card class="late-tasks">
          <mat-icon fontIcon="warning"></mat-icon>
          @if (lateTasksCount.lateTasksCount == 1) {
            <span>Você possui {{ lateTasksCount.lateTasksCount }} atividade atrasada</span>
          } @else if (lateTasksCount.lateTasksCount > 1) {
            <span>Você possui {{ lateTasksCount.lateTasksCount }} atividades atrasadas</span>
          } @else {
            <span>Você não possui atividades atrasadas</span>
          }
          <a (click)="findAndHighlightLateTask()">Ver mais</a>
        </mat-card>
      </div>
    </div>

    <div class="table-releases">
      <h1>Meus Lançamentos</h1>
      <mat-card>
        <div class="actions-user">
          <button class="button-add" mat-raised-button (click)="registerRelease('200ms', '200ms')">Novo Lançamento</button>
        </div>
        <table class="tbl-container" mat-table [dataSource]="dataSource" matSort>
          <!-- Description Responsible Column -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Descrição </th>
            <td mat-cell *matCellDef="let releases"> {{ releases.description }} </td>
          </ng-container>

          <!-- Responsible Column -->
          <ng-container matColumnDef="releaseName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Atividade </th>
            <td mat-cell *matCellDef="let releases"> {{ releases.task.name }} </td>
          </ng-container>

          <!-- Date Responsible Column -->
          <ng-container matColumnDef="dateRelease">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Data </th>
            <td mat-cell *matCellDef="let releases"> {{ releases.dateRelease }} </td>
          </ng-container>

          <!-- Start Date Column -->
          <ng-container matColumnDef="startTime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Início </th>
            <td mat-cell *matCellDef="let releases"> {{ releases.startTime }} </td>
          </ng-container>

          <!-- End Date Column -->
          <ng-container matColumnDef="endTime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Término </th>
            <td mat-cell *matCellDef="let releases"> {{ releases.endTime }} </td>
          </ng-container>

          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Ações </th>
            <td mat-cell *matCellDef="let releases">
              <button class="button-edit" mat-mini (click)="openEditDialog(releases, '200ms', '200ms')">
                <mat-icon fontIcon="edit"></mat-icon>
              </button>
              <button mat-mini class="button-delete">
                <mat-icon fontIcon="delete" (click)="openDeleteDialog(releases.id, '200ms', '200ms')"></mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columns"></tr>
          <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        </table>

        <mat-paginator  [length]="dataSource.data.length"
                        [pageSize]="5"
                        [pageSizeOptions]="[5, 10]"
                        showFirstLastButtons>
        </mat-paginator>
      </mat-card>
    </div>
  </div>
</div>
