:host {
  display: block;
  background-color: var(--bg-secondary);
}

mat-toolbar {
  background-color: var(--bg-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

.toolbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.logo {
  display: flex;
  align-items: center;
}

.btn-menu {
  display: none;
  color: var(--text-primary);
  cursor: pointer;
}

.btn-profile {
  color: var(--text-primary);
  margin-right: 10px;
  cursor: pointer;
}

.toolbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  font-size: 1rem;
}

.toolbar-nav a {
  color: var(--text-primary);
  text-decoration: none;
}

.toolbar-nav a:hover {
  color: var(--primary-color);
}

.toolbar-settings {
  display: flex;
  align-items: center;
  gap: 20px;
}

.settings-user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.settings-user span {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-primary);
}

.settings-user .btn-profile {
  transition: .5s;
}

.settings-user .btn-profile:hover{
  color: var(--primary-color);
}

.btn-logout {
  background-color: var(--primary-color);
}

@media (max-width: 950px) {
  .toolbar-nav {
    gap: 15px;
    font-size: 0.875rem;
  }
}

@media (max-width: 900px) {
  .toolbar-nav {
    display: none;
  }
  .btn-menu {
    display: block;
  }
}

@media (max-width: 600px) {
  .logo {
    display: none;
  }
}
