:host {
  display: block;
  background-color: var(--bg-secondary);
}
mat-toolbar {
  background-color: var(--bg-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

.logo {
  height: 100%;
}

.logo img {
  height: 100%;
}

.toolbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.toolbar-content a {
  color: var(--text-primary);
  text-decoration: none;
}

.toolbar-content a:hover {
  color: var(--primary-color);
}

button.btn-logout {
  background-color: var(--primary-color);
}
