mat-card {
  background-color: var(--bg-secondary);
  padding: 20px;
  border-radius: 10px;
}

.actions-user {
  display: flex;
  justify-content: space-between;
}

button.button-add {
  border-radius: 10px;
  background-color: var(--secondary-color);
}

.tbl-responsive {
  overflow-x: auto;
}

.tbl-container {
  background-color: var(--bg-primary);
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

th, td {
  padding: 8px 16px;
  text-align: left;
  white-space: nowrap;
}

th {
  color: var(--secondary-color);
}

td {
  color: var(--text-primary);
}

::ng-deep .light-theme th {
  color: var(--text-primary) !important;
}

::ng-deep .light-theme td {
  color: var(--text-secondary) !important;
}

.button-edit {
  background-color: var(--primary-color);
  margin-right: 10px;
}

mat-paginator {
  border-radius: 0 0 10px 10px;
  color: var(--text-primary);
  background-color: var(--bg-primary);
}

mat-chip.admin-chip {
  background-color: #34d58f;
}

@media (max-width: 600px) {
  .search-input {
    max-width: 150px;
  }
}
