:root {
  --bg-primary: #1e201f;
  --bg-secondary: #111313;
  --bg-tertiary: #1e2222;
  --primary-color: #eeb58f;
  --secondary-color: #98e5dd;
  --text-primary: #fff;
  --text-secondary: #9fa6a4;
}

.light-theme {
  --bg-primary: #f7f7f7 !important;
  --bg-secondary: #ffffff !important;
  --bg-tertiary: #e6e6e6 !important;
  --primary-color: #eeb58f !important;
  --secondary-color: #98e5dd !important;
  --text-primary: #1e201f !important;
  --text-secondary: #444b48 !important;
}

* {
  font-family: "Mona Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
}

.snack-success {
  outline: 2px solid #4caf50;
  border-radius: 4px;
}

.snack-error {
  outline: 2px solid #f44336;
  border-radius: 4px;
}

.snack-warning {
  outline: 2px solid #ff9800;
  border-radius: 4px;
}
