<mat-card class="mat-elevation-z8">
  <div class="actions-projects">
    <button class="button-add" mat-raised-button color="accent" (click)="openFormDialog('200ms', '200ms')">New Project</button>
    <mat-form-field>
      <mat-label>Procure</mat-label>
      <input matInput placeholder="Nome, Prioridade ou Status" (input)="search($event)">
    </mat-form-field>
  </div>
  <table class="tbl-container" mat-table [dataSource]="dataSource" matSort>
    <!-- Priority Column -->
    <ng-container matColumnDef="priority">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Prioridade </th>
      <td mat-cell *matCellDef="let projects">
        <mat-chip-set>
          @if (projects.priority === 'HIGH') {
            <mat-chip class="high-chip"> Alta </mat-chip>
          } @else if (projects.priority === 'MEDIUM') {
            <mat-chip class="medium-chip"> Média </mat-chip>
          } @else {
            <mat-chip class="low-chip"> Baixa </mat-chip>
          }
        </mat-chip-set>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
      <td mat-cell *matCellDef="let projects"> {{projects.name}} </td>
    </ng-container>

    <!-- Start Date Column -->
    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Data de Início </th>
      <td mat-cell *matCellDef="let projects"> {{ projects.startDate }} </td>
    </ng-container>

    <!-- End Date Column -->
    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Data de Término </th>
      <td mat-cell *matCellDef="let projects"> {{ projects.endDate }} </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let projects">
        <mat-chip-set>
          @if (projects.status === 'PLANNED') {
            <mat-chip class="planned-chip"> Em planejamento </mat-chip>
          } @else if (projects.status === 'PROGRESS') {
            <mat-chip class="progress-chip"> Em andamento </mat-chip>
          } @else if (projects.status === 'DONE') {
            <mat-chip class="done-chip"> Concluído </mat-chip>
          } @else if (projects.status === 'PAUSED') {
            <mat-chip class="paused-chip"> Pausado </mat-chip>
          } @else if (projects.status === 'CANCELED') {
            <mat-chip class="cancelled-chip"> Cancelado </mat-chip>
          }
        </mat-chip-set>
      </td>
    </ng-container>

    <!-- User Responsible Column -->
    <ng-container matColumnDef="responsibleUser">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Responsável </th>
      <td mat-cell *matCellDef="let projects"> {{ projects.responsibleUser.name }} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let projects">
        <button class="button-edit" mat-mini-fab (click)="openEditDialog(projects, '200ms', '200ms')">
          <mat-icon fontIcon="edit"></mat-icon>
        </button>
        <button color="warn" mat-mini-fab (click)="openDeleteDialog(projects.id, '200ms', '200ms')">
          <mat-icon fontIcon="delete"></mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>

  <mat-paginator  [length]="dataSource.data.length"
                  [pageSize]="10"
                  [pageSizeOptions]="[5, 10]"
                  showFirstLastButtons>
  </mat-paginator>
</mat-card>

